{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <table>
        <thead>
            <tr>
                <th>Instructor</th>
                <th>Atendimento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Matheus</td>
                <td>Natação</td>
            </tr>
            <tr>
                <td>Matheus</td>
                <td>Natação</td>
            </tr>
            <tr>
                <td>Matheus</td>
                <td>Natação</td>
            </tr>
            <tr>
                <td>Matheus</td>
                <td>Natação</td>
            </tr>
            <tr>
                <td>Matheus</td>
                <td>Natação</td>
            </tr>
            <tr>
                <td>Matheus</td>
                <td>Natação</td>
            </tr>
            <tr>
                <td>Matheus</td>
                <td>Natação</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}